<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./data/favicon.ico">
    <style type="text/css">
      @import url("observable:styles/index.css");
      @import url("@fontsource-variable/inter/wght.css");
      @import url("@fontsource-variable/inter/wght-italic.css");
      @import url("@fontsource-variable/source-serif-4/wght.css");
      @import url("@fontsource-variable/source-serif-4/wght-italic.css");
      @import url("@fontsource-variable/spline-sans-mono/wght.css");
      @import url("@fontsource-variable/spline-sans-mono/wght-italic.css");
      /* force no margin even in the html tag */
      * {
        margin-top:0 !important;
      }
      /* change this for overall background color */
      html {
        background-color: black;
        margin:0;
        padding:0; /* change this to 0 to override default */
        border:0;
      }
      /* and also this for body properties */
      body {
        background-color: black;
        max-width: none;
        margin:0;
        padding:0;
        border:0;
      }
      #stage {
        top: 2.5vw;
        left: 33vw;
      }
      /* from here on you should create your own styles */
      :root {
        --text-white: floralwhite;
        --white: white;
        --context: #af5c13;
        --black: black;
        --bkgnd-darkblue: #00182f;
      }

      html {
        box-sizing: border-box;
      }
      *, *:before, *:after {
        box-sizing: inherit;
      }

      #observablehq-main {
        margin-top: 0;
      }

      body {
        margin-top: 0;
        cursor: none;
      }

      #frame {
        position: relative;
        padding: 2vw 5vw;
        height: 45vw;
        margin: none;
        background-color: var(--black);
        font-family: "Source Serif 4", serif;
        font-size: 2.5vw;
        font-variant-ligatures: no-common-ligatures;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
          "wght" 300,
          "wdth" 100,
          "YTLC" 500;
        line-height: 1.8;
      }
      #stage {
        position: absolute;
        color: var(--text-white);
        margin: none;
        top: 7vw;
        left: 30vw;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: opacity 2.5s ease-in-out;
        -o-transition: opacity 2.5s ease-in-out;
        -ms-transition: opacity 2.5s ease-in-out;
        -moz-transition: opacity 2.5s ease-in-out;
        -webkit-transition: opacity 2.5s ease-in-out;
      }

      img {
        position: absolute;
        border: none;
        /* top: -2.2vw;
        left: -2.5vw; */
        /* height: 100%; */
        width: 25vw;
      }

      img.zi {
        filter: invert(1);
      }

      #byline {
        color: var(--text-white);
        background-color: var(--black);
        font-size: 1.6vw;
        line-height: 1.1;
        margin: none;
        padding-top: 0;
        padding-bottom: 2vw;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: center;
        z-index: 10;
        cursor: pointer;
        opacity: 0;
        transition: opacity .7s ease-in-out;
        -o-transition: opacity .7s ease-in-out;
        -ms-transition: opacity .7s ease-in-out;
        -moz-transition: opacity .7s ease-in-out;
        -webkit-transition: opacity .7s ease-in-out;
      }

      #byline:hover {
        opacity: 1;
      }

      #byline a {
        color: var(--text-white);
        text-decoration: none;
        overflow: hidden;
      }

      #byline a:hover {
        color: lightgray;
      }

      /* Clear floats after the columns */
      #byline:after {
        content: "";
        display: table;
        clear: both;
      }

      #stage em {
        font-style: normal;
        /* font-weight: bold; */
        /* darkred is good for debugging with orange */
        transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -o-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -ms-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -moz-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -webkit-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
      }

      #stage em.visible {
        font-style: normal;
        /* font-weight: bold; */
        color: var(--white);
        /* darkred is good for debugging with orange */
      }

      /* span {
        transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -o-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -ms-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -moz-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
        -webkit-transition: color .7s ease-in-out,
          text-shadow .7s ease-in-out;
       } */

      .clmleft {
        float: left;
        text-align: left;
        width: 30%;
      }

      .clmright {
        float: right;
        text-align: right;
        width: 70%;
      }

      .fade {
        cursor: pointer;
      }

      .fade:hover {
        color: var(--context);
      }

      .none {
        display: none;
      }

      /* .visible {
        color: var(--text-white);
        text-shadow: .6ch .2ch .7ch var(--white);
      } */

      .glow {
        color: lemonchiffon;
        text-shadow: 0 -0.3ch 0.5ch white,
          0 0.3ch 0.5ch white,
          0 -0.6ch 1ch white,
          0 0.6ch 1ch white;
          /* 0 0 0.5ch white,
          0 0 1.5ch white; */
      }

      .char {
        opacity: 0;
        transition: all 1.3s ease-in-out;
        -o-transition: all 1.3s ease-in-out;
        -ms-transition: all 1.3s ease-in-out;
        -moz-transition: all 1.3s ease-in-out;
        -webkit-transition: all 1.3s ease-in-out;
      }

      .char.visible {
        opacity: 1;
      }

      .spel {
        position: absolute;
        opacity: 0;
        transition: all 1.5s ease-in-out;
        -o-transition: all 1.5s ease-in-out;
        -ms-transition: all 1.5s ease-in-out;
        -moz-transition: all 1.5s ease-in-out;
        -webkit-transition: all 1.5s ease-in-out;
      }

      .spel.visible {
        opacity: 1;
      }
    </style>
  </head>
  <body>
    <main></main>
  </body>
</html>
